services:
  redis:
    image: redis:7-alpine
    container_name: central-auth-redis
    ports:
      - "6379:6379"
    restart: always

  postgres:
    image: postgres:16-alpine
    container_name: central-auth-postgres
    env_file:
      - .env
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - "5432:5432"
    restart: always

  auth-server:
    build: .
    container_name: central-auth-server
    ports:
      - "8081:8081"
    depends_on:
      - redis
      - postgres
    env_file:
      - .env
    environment:
      POSTGRES_HOST: ${POSTGRES_HOST}
      POSTGRES_PORT: 5432
      REDIS_ADDR: ${REDIS_ADDR}
    restart: always
